.idea/
wordpress/*
wordpress/wp-admin/
wordpress/wp-includes/
wordpress/wp-content/index.php
!wordpress/wp-content
wordpress/wp-content/themes/twenty*
wordpress/wp-content/themes/index.php
wordpress/wp-content/plugins/akismet
wordpress/wp-content/plugins/index.php
wordpress/wp-content/plugins/hello.php
